@import url('https://fonts.googleapis.com/css?family=Gruppo|Lato');

body{
    background-color: black;
    font-family: "Lato", sans-serif;
    color: ghostwhite;
}

#archaea{
    font-family: "Gruppo", cursive;
    font-size: 500%;
    text-align: center;
}

#quote{
    font-size: 150%;
    font-style: italic;
    text-align: center;
}

h1 h2 h3{
    font-family: "Gruppo", cursive;
}

a:link {
    text-decoration: none;
    color: ghostwhite;
}

a:visited {
    text-decoration: none;
    color: ghostwhite;
}

a:hover {
    text-decoration: underline;
    color: ghostwhite;
    text-shadow: 2px 2px 2px #ff0000;
}

a:active {
    text-decoration: underline;
    color: ghostwhite;
    text-shadow: 2px 2px 2px #ff0000;
}

footer{
    text-align: center;
}
