body{
    background-color: black;
    font-family: "Lato", sans-serif;
    color: ghostwhite;
}

#archaea{
    font-family: "Gruppo", cursive;
    font-size: 500%;
    text-align: center;
}

#quote{
    font-size: 150%;
    font-style: italic;
    text-align: center;
}

h1 h2 h3{
    font-family: "Gruppo", cursive;
}
